<aside>
  <ul>
    <a href="#gfse" class="nonLink docsItemLink"><li>Gaming in the Field of Software Engineering</li></a>
    <a href="#pgs" class="nonLink docsItemLink"><li>Proposed gaming system</li></a>
    <a href="#wtp" class="nonLink docsItemLink"><li>Why This Project?</li></a>
    <a href="#ogs" class="nonLink docsItemLink"><li>Objectives of the Gaming System</li></a>
    <a href="#sog" class="nonLink docsItemLink"><li>Scope of Our Game</li></a>
    <a href="#ps" class="nonLink docsItemLink"><li>Planning and Scheduling</li></a>
    <a href="#end" class="nonLink docsItemLink"><li>Conclusion</li></a>
  </ul>
</aside>