<div class="descriptionEjsDescription">
  <hr />
  <h1 class="superheader">Description</h1>
  <center>
    <h3 id="gfse">Gaming in the Field of Software Engineering</h3>
    <p class="container descParam">
      In the fast growing field of software engineering and development and even
      more rapidly growingsector of game development the future is hard to
      predict. In general software project is a projectfocusing on the creation
      of software. Consequently, Success can be measured by taking a look atthe
      resulting software. In a game project, the product is a game. But and here
      comes the point: Agame is much more than just its software. It has to
      provide content to become enjoyable. Just likea web server: without
      content the server is useless, and the quality cannot be measured. This
      hasan important effect on the game project as a whole. The software part
      of the project is not the onlyone, and it must be considered in connection
      to all other parts: The environment of the game, thestory, characters,
      game plays, the artwork, and so on
    </p>

    <h3 id="pgs">Proposed gaming system</h3>
    <p class="container descParam">
      The Tic Tac Toe game is a game for two players, called "X" and "O", who
      take turns marking thespaces in a 3×3 grid. The player who succeeded in
      placing three respective marks in a horizontal,vertical, or diagonal row
      wins the game. The Tic Tac Toe is a great way to pass your free
      timewhether you're standing in a line or spending time with your kids.
      Stop wasting paper and savetrees. Because of the simplicity of Tic Tac
      Toe, it is often used as a pedagogical tool for teachingthe concepts of
      good sportsmanship and the branch of artificial intelligence.
    </p>

    <h3 id="wtp">Why This Project?</h3>
    <p class="container descParam">
      Since the 1970s [10], people started to take interest in using their
      computers as an entertainmentenvironment, thus, the multi billion game
      industry [3] was starting to take shape. Having presentedearlier the sum
      of money this industry produces, I decided to have a go and create a game
      of myown. As a kid, I was always fascinated by the idea of becoming a game
      developer, but, as yearswent by, I have realized this is not exactly what
      programming and computer science, as a practice,are about and I dropped
      the idea. However, the third year project offered me the possibility to
      tryand achi eve one of my childhood’s dreams and I couldn’t resist the
      temptation.
    </p>
    <h3 id="ogs">Objectives of the Gaming System</h3>
    <p class="container descParam">
      The game is developed for full-time entertainment and enthusiasms. It
      teaches the Gamer to bealert at every situation he/she faces, because if
      the Gamer is not fully alert and notice the saucerfire he/she must be hit
      by the saucer-bombs. Though the proposed game is an action game, it does
      not involve direct violence. No zombie killing, animal killing, or human
      killing is performed in the game. So it can also be viewed as a
      non-violence game.Kids can also play this game, because the design of the
      game is very simple.
    </p>

    <h3 id="sog">Scope of Our Game</h3>
    <p class="container descParam">
      This Report describes all the requirements for the project. The purpose of
      this research is to providea virtual image for the combination of both
      structured and unstructured information of my project “ Tic Tac Toe ”.
      This is a single -player strategy game on the Windows platform. The player
      willprogress through levels which require precise manipulation of the
      environment, though the gameEncourages creativity and daring via branching
      pathways. The episodic structure of the gamefacilitates the pace of the
      story. I demonstrate the action flow between inputs, script,
      display(output).
    </p>

    <h3 id="ps">Planning and Scheduling</h3>
    <p class="container descParam">
      Project planning and scheduling is a part of project management. The
      project planning stagerequires several inputs, including conceptual
      proposals, project schedules. The development of thisproject is not
      successfully done without proper planning and scheduling. Project planning
      andscheduling is very important stage for us.
    </p>

    <h3 id="end">Conclution</h3>
    <p class="container descParam">
      The Tic Tac Toe game is most familiar among all the age groups.
      Intelligence can be a property ofany purpose-driven decision maker. This
      basic idea has been suggested many times. An algorithmof playing Tic Tac
      Toe has been presented and tested that works in efficient way. Overall
      thesystem works without any bugs.
    </p>
  </center>
</div>
