<div id="docs">
  <hr />
  <center>
    <h1 class="superheader">Docs</h1>
    <h4 class="docsEjsMenu">Menu</h4>
    <%- include("./aside.ejs") %>
    <%- include("./description.ejs") %>
  </center>
</div>
