<div id="download">
  <hr />
  <h1 class="superheader">Download</h1>
  <p>
    Tic-Tac-Toe Game is not available for Linux or MacOS . It is also not
    available for Android or IOS
  </p>
  <br />
  <P>But We are Working on it to make it platform independent.</P>
  <div class="downloadContainer">
    <br />
    <a href="/downloads/tic-tac-toe--win32-x64-installer.exe" class="dwnLink btn btn-primary finishing" download>Download</a>
  </div>
</div>
