<div id="GetStarted">
  <hr />
  <h1 class="superheader">Get Started</h1>
  <a href="#download"
    ><button class="btn btn-primary btnDownload">Go To Download</button></a
  >
  <a href="#docs"
    ><button class="btn btn-primary btnReadDocs">Read Docs</button></a
  >
</div>
