<header>
  <a href="/">
    <img class="imgLogo" src="favicon.png" alt="Tic-Tac-Toe" />
  </a>
  <a href="#GetStarted" class="nonLink docsLink">
    Get Started
  </a>
  <a href="#docs" class="nonLink docsLink">
    Docs
  </a>
  <a href="#download" class="nonLink docsLink">
    Downloads
  </a>
  <b class="docsLink version">v4.2.1</b>
</header>
