<main class="gradient">
  <center>
    <img src="favicon.png" alt="Tic-Tac-Toe" class="imgMainLogo" />
    <h1 class="desUnderImg">
      <b
        >Tic-tac-toe is played on a
        <br />
        three-by-three grid by two players.</b
      >
    </h1>
    <p class="desUnderHeader">
      There is no universally-agreed rule as to who plays first, but in this
      article the convention that X plays first is used. Players soon discover
      that the best play from both parties leads to a draw. Hence, tic-tac-toe
      is often played by young children who may not have discovered the optimal
      strategy. Because of the simplicity of tic-tac-toe, it is often used as a
      pedagogical tool for teaching the concepts of good sportsmanship and the
      branch of artificial intelligence that deals with the searching of game
      trees. It is straightforward to write a computer program to play
      tic-tac-toe perfectly or to enumerate the 765 essentially different
      positions (the state space complexity) or the 26,830 possible games up to
      rotations and reflections (the game tree complexity) on this space. If
      played optimally by both players, the game always ends in a draw, making
      tic-tac-toe a futile game.
    </p>
    <%- include("./getstarted.ejs") %>
    <%- include("./docs.ejs") %>
    <%- include("./download.ejs") %>
  </center>
</main>
